
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>&copy; Copyright <span><script>document.write( new Date().getUTCFullYear() );</script></span>, Mustafa Alhilo </p>
  </div>
</div>
</body>
</html>


